<nav class="horizontal-menu">
  <a routerLink="addinventory">
    Add Inventory
  </a>
  <a routerLink="delinventory">
    Delete Inventory
  </a>
  <a routerLink="updateinventory">
    Update Inventory
  </a>
  <a routerLink="printinventory">
    Print Inventory
  </a>
  <a routerLink="lowstockalert">
    Low Stock Alert
  </a>
</nav>
<router-outlet></router-outlet>

<!-- <div
style="
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  "
>
  Hello world
</div> -->


<!-- <main class="main">
  <div class="content">
    <div class="left-side">
      <h1>
      <button class="large-button" (click)="onAdd()">Add Inventory</button>
      </h1>
      <p>
      <button class="large-button" (click)="onDelete()">Delete Inventory</button>
      </p>
      <p>
      <button class="large-button" (click)="onUpdate()">Update Inventory</button>
      </p>
      <p>
      <button class="large-button" (click)="onPrint()">Print Inventory</button>
      </p>
      <p>
      <button class="large-button" (click)="onLowStockAlert()">Low Stock Alert</button>
      </p>
    </div>
  </div>
</main> -->



<router-outlet />
